.DS_Store
Thumbs.db

*.log
*.tmp
*.swp
*.swo

node_modules/

__pycache__/
*.pyc
*.pyo
*.pyd
venv/

/dist/
/build/
/out/

target/
bin/
obj/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.DS_Store
